{{- with $.Params.images -}}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="{{ index . 0 | absURL }}"/>
{{ else -}}
{{- $images := $.Resources.ByType "image" -}}
{{- $featured := $images.GetMatch "*feature*" -}}
{{- $featured := cond (ne $featured nil) $featured ($images.GetMatch "{*cover*,*thumbnail*}") -}}
{{- with $featured -}}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="{{ $featured.Permalink }}"/>
{{ else -}}
{{- with site.Params.images -}}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="{{ index . 0 | absURL }}"/>
{{ else -}}
{{- $featured := resources.Get "png/opengraph.png" -}}
{{- with $.Page.Resources.Match "png/opengraph.png" -}}
{{- $featured = index . 0 -}}
{{- end -}}
{{- $loaded := partial "util/load-image" (dict "Image" $featured "Ratio" "2x1" "Rename" "twitter") }}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="{{ $loaded.Image.Permalink }}"/>
{{- end -}}
{{- end -}}
{{- end }}
<meta name="twitter:title" content="{{ .Title }}"/>
<meta name="twitter:description" content="{{ partial "util/description" . -}}"/>
{{ with site.Params.Frugal.Author.Social.twitter -}}
<meta name="twitter:site" content="@{{ . }}"/>
<meta name="twitter:creator" content="@{{ . }}"/>
{{ end -}}
