{{- $base := printf "%s/" (strings.TrimRight "/" site.BaseURL) -}}
{{- $url := replace .Permalink ( printf "%s" $base) "" -}}
{{- $.Scratch.Add "path" $base -}}
{{- $.Scratch.Add "breadcrumb" (slice (dict "url" $base "name" "home" "position" 1 )) -}}
{{- range $index, $element := split $url "/" -}}
{{- $.Scratch.Add "path" $element -}}
{{- $.Scratch.Add "path" "/" -}}
{{- if ne $element "" -}}
{{- $.Scratch.Add "breadcrumb" (slice (dict "url" ($.Scratch.Get "path") "name" . "position" (add $index 2))) -}}
{{- end -}}
{{- end -}}
{
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
    {{- range $.Scratch.Get "breadcrumb" }}
        {
            "@type": "ListItem",
            "position": {{ .position }},
            "item": {
                "@id": "{{ .url }}",
                "name": "{{ .name }}"
            }
        }{{ if ne .position (len ($.Scratch.Get "breadcrumb")) }},{{ end }}
    {{- end }}
    ]
}
